header {
  background: #fefefe;
  display: flex;
}
header .logo {
  margin: 10 10 10 10;
}
header .title {
  margin: 10 10 10 10;
}
header h1 {
  color: black;
  font-size: 35;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
header .button-nav {
  background-color: red;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  border-radius: 5px;
  margin: 10 10 10 10;
}

text {
  font-size: 20px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
}

h2 {
  font-size: 1.5em !important;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  background: white;
}

.pure-button {
  background-color: red;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  color: darkgray;
  font-size: 35px;
}

footer {
  background-color: black;
  height: 10%;
  margin-bottom: 0;
}

.footer-text {
  text-align: center;
  color: white;
  padding-top: 20px;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: none;
  background-color: black;
  color: black;
  border-radius: 5px;
  margin: 15% auto;
  /* 15% from the top and centered */
  z-index: 500;
  border: 1px solid #888;
  width: 25%;
}

#modalContent2 {
  display: none;
  background-color: white;
  color: black;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  margin: -12% auto;
  /* 15% from the top and centered */
  padding: 10px;
  z-index: 500;
  border: 1px solid #888;
  text-align: center;
}

.spinner {
  margin: 50px auto;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 50;
}

.cube1, .cube2 {
  background-color: black;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
.fade-in {
  animation: fadeIn ease 0.7s;
  -webkit-animation: fadeIn ease 0.7s;
  -moz-animation: fadeIn ease 0.7s;
  -o-animation: fadeIn ease 0.7s;
  -ms-animation: fadeIn ease 0.7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=page3.css.map */
