.nav-pills .nav-link.active {
	color: white !important;
	background-color: #ff0000 !important;
}
.signed-links {
	display: flex !important;
	flex-direction: row !important;
}

#light{
	background-color: antiquewhite;
}

#dark{
	background-color: #010e2d;
}
