.buttonNext:disabled {
	cursor: not-allowed;
}

.buttonNext {
	margin: 0 5px;
}

.Button {
	margin: 0 5px;
}

.body {
	justify-content: center;
	align-items: center;
}
.formRow {
	justify-content: center;
}

.btn {
	/* margin: 0px 5px; */
}

.form {
	width: 50%;
}

.row {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Radio {
	display: inline-block;
	position: relative;
	padding: 0 6px;
	margin: 10px 0 0;
}

.Radio input[type="radio"] {
	display: none;
}

.Radio label {
	color: #666;
	font-weight: normal;
}

.Radio label:before {
	content: " ";
	display: inline-block;
	position: relative;
	top: 5px;
	margin: 0 5px 0 0;
	width: 20px;
	height: 20px;
	border-radius: 11px;
	border: 2px solid #dc3545;
	background-color: transparent;
}

.Radio input[type="radio"]:checked + label:after {
	border-radius: 11px;
	width: 12px;
	height: 12px;
	position: absolute;
	top: 9px;
	left: 10px;
	content: " ";
	display: block;
	background: #dc3545;
}
