.buttonNext:disabled {
	cursor: not-allowed;
}

.buttonNext {
	margin: 0 5px;
}

.Button {
	margin: 0 5px;
	
}

.body {
	justify-content: center;
	align-items: center;
	background-color: rgb(208, 229, 194);
}


.formRow {
	justify-content: center;
	background-color: rgb(208, 229, 194);
}
.back{
	background-color: rgb(208, 229, 194);
	margin-top: -10px;
	margin-bottom: -10px;
	padding-top: 35px;
	padding-bottom: 35px;
}

.head{
	background-color: rgb(208, 229, 194);

}
.btn {
	/* margin: 0px 5px; */
}

.form {
	width: 50%;
}

.row {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Radio {
	display: inline-block;
	position: relative;
	padding: 0 6px;
	margin: 10px 0 0;
}

.Radio input[type="radio"] {
	display: none;
}

.Radio label {
	font-size: 1.5em;
	color: #666;
	font-weight: normal;
}

.Radio label:before {
	content: " ";
	display: inline-block;
	position: relative;
	top: -2px;
	margin: 0 5px 0 0;
	width: 20px;
	height: 20px;
	border-radius: 11px;
	border: 2px solid #dc3545;
	background-color: transparent;
}

.Radio input[type="radio"]:checked + label:after {
	border-radius: 11px;
	width: 12px;
	height: 12px;
	position: absolute;
	top: 9px;
	left: 10px;
	content: " ";
	display: block;
	background: #dc3545;
}

.RadioInputs {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.radioWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0px 7.5px;
}

.helpIcon {
	font-size: 28px !important;
	margin-left: 3px;
	padding: 5px;
	transition: all 0.1s ease-in-out;
}

.helpIcon:hover {
	background: rgb(240, 240, 240);
	padding: 5px;
	border-radius: 5px;
}

.help:before {
	content: attr(tooltip-data);
	position: absolute;
	transform: translate(-40%, -100%);
	width: 200px;
	padding: 10px;
	border-radius: 3px;
	background-color: rgb(53, 53, 53);
	color: #fff;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	font-size: 12px;
}

.help:hover:before {
	visibility: visible;
	opacity: 1;
	z-index: 999;
}
