frontend/node_modules/
backend/node_modules/
frontend/build
frontend/public/manifest-extension.json

backend/src/documentInterfaces/database.service.ts


# prod resources
frontend/build/
frontend/live/
.env
frontend/.env
backend/.env
.credentials
.credentials_rsaparams
.path
.updated-options-ssl-nginx-conf-digest.txt
.updated-ssl-dhparams-pem-digest.txt
options-ssl-nginx.conf
ssl-dhparams.pem
csr/
renewal/
renewal-hooks/
keys/
archive/
accounts/
_work/
frontend/certs

# runner files
.runner
.service
config.sh
externals/
runsvc.sh
svc.sh
run.sh
env.sh
bin
externals
bin/
externals/
_diag/
.env
bin.*/
externals.*/
bin.2.280.3/
bin.2.280.2/
externals.2.280.3/
# env variables
backend/creds.env
.DS_Store