<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/auth/logout"> Logout</a></li>
            <li><a href="/auth/login"> login</a></li>
            <li><a href="/"> homepage</a></li>

        </ul>
    </nav>
    <header>
        <h1>login with</h1>
    </header>
    <main>
        <a href="/auth/google">Google+</a>
    </main>
    
</body>
</html>