.btn-primary {
	color: red;
}

.container {
	top: 66px;
	width: 100%;
	margin-top: 50px;
}

.SignInWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.the{
	color: black !important;
}

.Form {
	padding: 40px;
	margin-top: 2em;
	width: 40%;
	min-width: 300px;
	max-width: 400px;
	max-height: 400px;
	background-color: rgba(241, 241, 241, 1);
	border-radius: 5px;
	box-shadow: 0 4px 12px rgb(0 0 0 / 8%), 0 0 1px rgb(1 0 0 / 10%);
}

h1 {
	color: rgb(22, 22, 22);
	margin-left: 0;
	margin-right: 0;
}

.RegisterLink {
	color: #dc3545;
	text-decoration: none;
}

.RegisterLink:hover {
	color: #b62937;
	text-decoration: unde;
}
