.MenuWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.Menu {
	position: relative;
	top: 50px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	z-index: 100;
	padding: 15px;
	border-radius: 5px;
	min-height: 50px;
	min-width: 120px;
	background-color: white;
	box-shadow: 0px 1px 5px rgb(0 0 0 / 12%);
	font-size: 0.9rem;
}

.MenuButton {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 5px 10px 5px 10px;
	border: 2px solid rgb(235, 235, 235);
	border-radius: 5px;
}

.MenuButton:hover {
	cursor: pointer;
	background-color: rgb(93, 72, 72);
}
