.Page {
	height: 100vh;
	width: 100vw;
}

.logo1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
	border-style: hidden;
	border-width: 3px;
}

.Wrapper {
	position: relative;
	height: calc(100vh - 120px);
	width: 100%;
	/* margin: 30px 30px 30px 30px; */
	top: 56px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
	margin-bottom: 150px;
	/* overflow-x: hidden; */
	/* background-color: rgb(45, 41, 41); */
}

.EmptyWrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(51, 47, 47);
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	min-width: 350px;
	border-radius: 4px;
	box-shadow: 0 4px 12px rgb(0 0 0 / 8%), 0 0 1px rgb(1 0 0 / 10%);
}

tr > th {
	color: rgb(77, 77, 77);
	font-weight: 500;
	position: sticky;
	/* border-style: ; */
	border-color: white;
	background: white;
	border-width: 3px;


}
tr > td {
	color: rgb(255, 255, 255);
	background-color: rgb(74, 107, 108);
	border-color:rgb(255, 255, 255);
	border-width: 3px;



}
tr th,
tr td {
	padding: 20px;
	border-color:rgb(255, 255, 255);
	border-style:hidden;
	border-color: white;
	border-width: 3px;


	
}
.border{
	border-style:hidden;
}

tr th:first-child,
tr td:first-child {
}
th{
	position: sticky;
	top: 3px;
}
tr th {
	background: #eee;
	text-align: left;
	border-style:hidden;
	/* position: sticky;
	top: 3px; */
}

/* top-left border-radius */
tr:first-child th:first-child {
	border-top-left-radius: 5px;
	border-style:hidden;
}

/* top-right border-radius */
tr:first-child th:last-child {
	border-top-right-radius: 5px;
}

/* bottom-left border-radius */
tr:last-child td:first-child {
	border-bottom-left-radius: 5px;
}

/* bottom-right border-radius */
tr:last-child td:last-child {
	border-bottom-right-radius: 5px;
}

.Empty {
	background-color: rgb(255, 189, 202);
	color: rgb(97, 10, 10);
	font-size: 1rem;
	position: relative;
	top: 66px;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	width: 300px;
	padding: 20px;
	height: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 2px solid rgb(167, 6, 6);
	line-height: 1.2;
}

.HomePageLink {
	cursor: pointer;
	color: rgb(184, 38, 38);
}

.HomePageLink:hover {
	color: rgb(184, 38, 38);
	border-bottom: 1px solid rgb(184, 38, 38);
}

.Actions {
	position: sticky;
	top: 3px;
}

.wrap{
	background-color: rgb(50, 81, 80);
	padding: 20 20 20 20;
}
.Buttons {
	height: 100%;
	display: flex;
	flex-direction: column;

	justify-content: space-between;

	align-items: center;
}

.Button {
	margin-bottom: 10px;
	min-width: 50px;
}
