.TableWrapper {
	position: relative;
	width: 100%;
	top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* table {
	border-collapse: separate;
	border-radius: 20px;
	border: 2px solid gray;
}

thead {
	background-color: rgb(219, 219, 219);
	color: rgb(78, 78, 78);
	border-collapse: separate;
}

td,
th {
	border: 1px solid gray;
	padding: 10px;
	margin: 10px;
} */
/* table tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
} */

table {
	border-collapse: collapse;

	border-spacing: 0;
	min-width: 350px;
	border-radius: 4px;
	box-shadow: 0 4px 12px rgb(0 0 0 / 8%), 0 0 1px rgb(1 0 0 / 10%);
}
tr th,
tr td {
	padding: 20px;
}
tr th:first-child,
tr td:first-child {
}
tr th {
	background: #eee;
	text-align: left;
}

/* top-left border-radius */
tr:first-child th:first-child {
	border-top-left-radius: 6px;
}

/* top-right border-radius */
tr:first-child th:last-child {
	border-top-right-radius: 6px;
}

/* bottom-left border-radius */
tr:last-child td:first-child {
	border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
tr:last-child td:last-child {
	border-bottom-right-radius: 6px;
}

.Empty {
	font-size: 1.5em;
	position: relative;
	top: 66px;
	color: rgb(46, 46, 46);
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
