.Item {
	display: flex;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 20px;
	/* background-color: rgb(208, 229, 194); */
}

.back{
	background-color: rgb(208, 229, 194);
	margin-top: -10px;
	margin-bottom: -1\0px;
	padding-top: 35px;
	padding-bottom: 35px;
}

.Flag {
	width: 30%;
	height: 100%;
	margin-right: 5px;
}
