@import url("https://fonts.cdnfonts.com/css/louis-george-cafe");


@font-face {
	font-family: 'Blanka-Regular';
	src: url('../Analysis/Blanka-Regular.ttf');
  }

/* .pad-wrapper{
	background-color: #45494d;
	align-items: center;
	justify-content: center;
	width: 75%;
	border-radius: 10px;
	margin-top: 00px;

} */

.stuff{
	position: flex;
}

.wrapper {
	display: block;
	height:  2580.74px;         /*calc(570vh - 57px);*/
	/* min-height: 1500px; */
	overflow-y: scroll;
	overflow-x: hidden;
}

h4{
	margin-right: 400px;
	color: white;
}

.he5{
	margin-top: 400px;
	margin-left: 400px;
	color: white;
}
.lp-container {
	margin-top: -352px;
	margin-bottom: 180px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	height: 100%;
	max-height: 2000px;
	min-height: 740px;
	width: 100vw;
}
.slider-holder{
	width:30vw;
	justify-content: center;
	align-items: center;
	margin:auto;
}
.static-wrapper {
	margin-top: 0px;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* .logo-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	height: 50%;
}

.logo-name {
	font-size: 5em;
	font-family: 'Louis George Cafe', sans-serif;
	font-weight: 700;
	color: #2e2e2e;
} */

.logo-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: -50px;
	margin-top: 60px;
}
.slideWrap{
	margin-top: 50px;
	margin-bottom: 20px;
	width: 150vh;
	background-color: #1f1e1e;
	border-radius: 10px;
}
.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	height: 15vw;
	margin-top: 55px;
	margin-left: 40px;
	margin-right: 40px;
}

.logosmall {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	height: 12vw;
	
	margin-top: 55px;
	/* margin-bottom: 50px; */
	margin-left: 40px;
	margin-right: 40px;
}
@font-face {
	font-family: 'Blanka-Regular';
	src: url('../Analysis/Blanka-Regular.ttf');
  }

.logo-name {
	font-size: 4em;
	font-family: 'Blanka-Regular';
	font-weight: 950;
	color: #2e2e2e;
}

#dark .logo-name {
	font-size: 5em;
	font-family: 'Blanka-Regular';
	/*font-family: "Louis George Café", sans-serif;*/
	font-weight: 750;
	color: white;
}


.logo-tagline {
	font-size: 1.5em;
	font-family: "Louis George Café", sans-serif;
	font-weight: 700;
	color: #2e2e2e;
	text-align: center;

}

#dark .logo-tagline69 {
	font-size: 1.3em;
	font-family: "Louis George Café", sans-serif;
	font-weight: 700;
	margin-top:20px;
	color: white;
	margin-bottom: 20px;

}

#dark .logo-tagline {
	font-size: 1.2em;
	font-family: "Louis George Café", sans-serif;
	font-weight: 700;
	margin-top:20px;
	color: white;
}
.X {
	font-size:3.5em;
	font-family: "Louis George Café", sans-serif;
	font-weight: 700;
	color: black;
}

#dark .X {
	font-size: 3.5em;
	font-family: "Louis George Café", sans-serif;
	font-weight: 700;
	color: white;
}

.slideContainer{
	width: 75%;
	margin-top: 200px;
}

.slider{
	-webkit-appearance: none;
	width: 100%;
	height: 20px;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	border-radius: 12px;
	background: linear-gradient(90deg, white 60%, black 60%);
}

.slider:hover{
	opacity: 1;
}

p {
	margin-top: 50px;
	opacity: 0.7;
	color: white;
}
/* .slider::after{
	content: "100";
	color: white;
	font-size: 2rem;
	position: absolute;
	left: 80%;
	top: 26%;
}

.slider::before{
	content: "0";
	color: white;
	font-size: 2rem;
	position: absolute;
	left: 12%;
	top: 26%;
} */


.slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	appearance: none;
	width: 40px;
	height: 40px;
	background: white;
	border-radius: 50%;
	cursor: pointer;
}

.slider::-moz-range-thumb{
	width: 40px;
	height: 40px;
	background: white;
	border-radius: 50%;
	cursor: pointer;
}

.logo-tagline2 {
	font-size: 1.5em;
	font-family: "Louis George Café", sans-serif;
	font-weight: 700;
	color: #2e2e2e;
	margin-top: 50px;
	margin-bottom: 50px;
}

#dark .logo-tagline2 {
	font-size: 1.5em;
	font-family: "Louis George Café", sans-serif;
	font-weight: 700;
	color: white;
	margin-top: 50px;
	margin-bottom: 50px;
}

.logo-tagline3 {
	font-size: 1.5em;
	font-family: "Louis George Café", sans-serif;
	font-weight: 700;
	color: #2e2e2e;
	margin-top: 20px;
	flex-direction: column;
	margin-bottom: 15px;
}

.logo-tagline4 {
	font-size: 1.2em;
	/* font-family: 'Blanka-Regular'; */
	font-family: "Louis George Café", sans-serif;


	font-weight: 700;
	display: flex;
	color: white;
	margin-top: 90px;
	flex-direction: column;
	align-items: center !important;
	margin-bottom: 15px;
	text-align: center;
}


.helpIcon {
	font-size: 28px !important;
	margin-left: 90px;
	padding: 5px;
	color:rgb(22, 190, 118);
	display: flex;
	transition: all 0.1s ease-in-out;
	font-family: "Louis George Café", sans-serif;
	opacity: .8;
}

.helpIcon:hover {
	background: rgb(240, 240, 240);
	padding: 1px;
	border-radius: 5px;
}

.help:before {
	content: attr(tooltip-data);
	position: relative;
	/* transform: translate(-40%, -100%); */
	width: 200px;
	padding: 10px;
	border-radius: 3px;
	background-color: rgb(96, 98, 227);
	color: #fff;
	text-align: center;
	visibility: hidden;
	font-family: "Louis George Café", sans-serif;
	opacity: 0;
	font-size: 12px;
}

.help:hover:before {
	visibility: visible;
	opacity: 1;
}

.logo-name9{
	color: white;
	font-family: "Louis George Café", sans-serif;
	font-size: 25px;
	align-items: center;
	display: flex;
	margin-top: 2000px;
}

.logo-name10{
	color: white;
	font-family: "Louis George Café", sans-serif;
	font-size: 25px;
	align-items: center;
	display: flex;
	margin-top: 26px;
}


.logo-name11{
	color: white;
	font-family: "Louis George Café", sans-serif;
	font-size: 25px;
	right: 0;
	margin-left: 200px;
	align-items: center;
	display: flex;
	margin-top: 26px;
}
.setToggles13 {
	border: 4px solid rgb(78, 100, 100);
	border-radius: 7px;
	background-color: #F1E1E1;
	display: flex;
	flex-direction: row;
	
	margin-top:80px;
	justify-content: space-around;
	align-items: center;
	/* border: 1px solid rgb(177, 177, 177);
	border-radius: 5px; */
	padding-left: auto;
	padding-right: auto;
	padding: auto !important;
	margin-left: 10px;
	margin-right: 10px;
	/* margin: 60px 60px 60px 60px; */
}
.words3{
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.5em;
	color: rgb(17, 15, 15);
	margin: 10px 10px 10px 20px;
	border-radius: 5px;
  }

.logo-tagline5 {
	font-size: 1.7em;
	/* font-family: 'Blanka-Regular'; */
	font-family: "Louis George Café", sans-serif;
	font-weight: 700;
	color: white;
	margin-top: 90px;
	flex-direction: column;
	margin-bottom: 45px;
}

#dark .logo-tagline3 {
	font-size: 1.2em;
	font-family: "Louis George Café", sans-serif;
	/*font-family: "Louis George Café", sans-serif;*/
	color: white;
	font-weight: 700;

	flex-direction: column;
	margin-top: 50px;
	margin-bottom: 15px;
	text-align: center;

}

p {
	font-size: 1em;
	margin: 0;
	width: 400px;
}

.stats{
	display: flex;
	border-color: #1b78d6;
	padding: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	border-radius: 5px;
	border: #fff;
	margin-right: 5px;
	margin-left: 5px;
	color: black;
	background-color: rgb(219, 201, 201);
	border-width: 5px;
}
.statsTitle{
	margin-top: 100px;
	color: white;
	font-size: 2.1em;
	margin-bottom: -70px;
	font-family: "Louis George Café", sans-serif;
	
	
}
.stats1{
	margin: auto;
	padding: auto;
	font-size: 2.3em;
}

.stats3{
	margin: auto;
	padding: 30px 30px 30px 30px;
	font-size: 1.5em;
	font-family: 'Courier New', Courier, monospace;
	
}

.stats2{
	margin-top: -100px;
	padding-left: 800px;
	margin-right: 10px;
	align-items: flex-start;
	font-size: .7em;
	color: white;
}

.it{
	margin-left: 200px;
	margin-right: 10px;
}

.it2{
	margin-left: 60px;
	margin-right: 10px;
}


.biplane{
	display: block;
}

.form {
	display: flex;
	position: relative;
	justify-content: center;
	margin-top: 25px;
	width: 50%;
	margin-left: 10px;
	margin-right: 10px;
	height: 25vh;
	background-color: #fcf7f7;
	padding: 20px 40px;
	border-style: solid;
	border-radius: 10px;
	border-bottom-color: rgba(154,216,94,255);
	border-top-width: 4px;
	border-right-width: 2px;
	border-left-width: 2px;
	border-bottom-width: 4px;
	border-top-color: rgba(154,216,94,255);
	
	/* rgb(25, 25, 215); */


}


.form2 {
	display: flex;
	position: relative;
	justify-content: center;
	margin-top: 5px;
	width: 80%;
	margin-left: 10px;
	margin-right: 10px;
	height: 45vh;
	background-color: #fcf7f7;
	padding: 20px 40px;
	border-style: solid;
	border-radius: 10px;
	border-bottom-color: rgba(154,216,94,255);
	border-top-width: 4px;
	border-right-width: 2px;
	border-left-width: 2px;
	border-bottom-width: 4px;
	border-top-color: rgba(154,216,94,255);
	
	/* rgb(25, 25, 215); */


}

.form3 {
	display: flex;
	position: relative;
	justify-content: center;
	margin-top: 5px;
	width: 100%;
	margin-left: 10px;
	margin-right: 10px;
	height: 45vh;
	background-color: #fcf7f7;
	padding: 20px 40px;
	border-style: solid;
	border-radius: 10px;
	border-bottom-color: rgba(154,216,94,255);
	border-top-width: 4px;
	border-right-width: 2px;
	border-left-width: 2px;
	border-bottom-width: 4px;
	border-top-color: rgba(154,216,94,255);
	
	/* rgb(25, 25, 215); */


}

.thickerplz{
	color: black;
	font-size: 1em !important;
	font-family: 'Courier New', Courier, monospace;
	display: inline;
	justify-content: center;
	width: 100%;
	margin-top: 10px;
	align-items: center;
	margin-bottom: 10px;
	position:inherit;
}

.thickerplz2{
	color: white;
	font-size: 1.3em !important;
	font-family: "Louis George Café", sans-serif;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	position:inherit;
}

.placeholdbetter{
	display: flex;
	justify-content: center;
	display: block;
    width: 50%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: 
	border-color 0.15s ease-in-out, 
	box-shadow 0.15s ease-in-out;
}

.formLength{
	margin-left: 5px;
	width: 90%;
  }

  .cool-form .form-control {
    width: 20px;
}

.formimg{
	display: flex;
	justify-content: center;
	height: 10vh;
}

.tez {
	display: flex;
	justify-content: center;
	margin-top: 25px;
}

.password {
	margin: 10px 0px;
}

@media (max-width: 570px) {
	.logo-container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.name-one-liner {
		margin-left: 25px;
		margin-bottom: 40px;
		margin-top: 20px;
	}


}

.KASD{
	margin-left: 25px;
		margin-bottom: 40px;
		margin-top: 40px;
}

#dark .name-one-liner{
	color: white;
	margin-bottom: 40px;
	margin-top: 0px;
}

.name-one-liner2{
	color: white;
	margin-bottom: 10px;
	margin-top: 0px;
	align-items: center;
}

.button-continue:disabled {
	cursor: not-allowed;
}

.t-logo {
	margin: 10px;
	width: 100px;
	border-radius: 5px;
	height: 80px;
}

.t-logo2 {
	margin: 10px;
	width: 100px;
	border-radius: 5px;
	height: 100px;
}

.tFoundation {
	margin: 10px;
	width: 60px;
	height: 70px;
	width: 150px;
}

.poweredBy {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	height: 20vh;
	margin-top:50px;
	padding: 20px;
	width: 100vw;
	opacity: 1;
}

.bb{
	display: flex;
	justify-content: center;
	margin: auto;
	margin-left: 250px !important;
	width: 30vw;
	right: 0;
	margin-left: 30px;
	padding-left: 30px;
	height: 15vh;
	border-radius: 20px;
	
}
.bb2{
	display: flex;
	justify-content: center;
	margin: auto;
	width: 70vw;
	border-radius: 30%;
	border-color: white;
}

.bb3{
	display: flex;
	justify-content: center;
	margin: auto;
	width: 70vw;
	border-radius: 10px;
	border-color: white;
}

.tutorial {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	overflow: hidden;
}

.text {
	text-align: left;
	max-width: 500px;
}
.animation {
	width: 400px;
}

/* h2 {
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin-left: 0.5em;
} */
.p-gif {
	font-size: 1.5em;
	height: 75vh;
	color: #2e2e2e;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.CTA {
	display: flex;
	flex-direction: column;
}

.ptbo-lp {
	margin: 20px;
	border-radius: 5px;
}

.download-link {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 5px;
	color: rgb(117, 0, 0);
	background-color: rgb(252, 231, 235);
	border-radius: 100px;
	padding: 5px 20px 5px 20px;
	min-width: 225px;
	min-height: 40px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	transition: all 100ms ease-in-out;
}

.download-link:hover {
	text-decoration: none;
	color: rgb(73, 2, 2);
	transform: scale(1.05);
}

.download-link:active {
	transform: scale(0.95);
}

.download-link img {
	margin-left: 5px;
	height: 30px;
}

.download-link1 {
	display: flex;
	justify-content: space-evenly;
	margin: auto;
	margin-top: 30px;
	align-items: center;
	color: rgb(117, 0, 0);
	background-color: rgb(252, 231, 235);
	border-radius: 100px;
	padding: 5px 20px 5px 20px;
	min-width: 225px;
	width: 20vw;
	min-height: 40px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	transition: all 100ms ease-in-out;
}

.download-link1:hover {
	text-decoration: none;
	color: rgb(73, 2, 2);
	transform: scale(1.05);
}

.download-link1:active {
	transform: scale(0.95);
}

.download-link1 img {
	margin-left: 5px;
	height: 30px;
}

.ptbo-link {
	border-radius: 5px;
	width: 35px;
	height: 30px;
}

#firefox-link {
	opacity: 0.6; /* Real browsers */
	filter: alpha(opacity = 60); /* MSIE */
}

@media (max-width: 1300px) {
	.animation {
		width: 30%;
	}
}

.powered{
	font-family: 'Blanka-Regular';
	color: white;
	font-size: 1.5em;
	margin-top: 90px;
	margin-bottom: -30px;

}







